.Module {
    height: 40px;
    width: 100px;
    background-color: grey;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 3px;
    text-align: center;
}

.Module h4 {
    font-size: 12px;
    font-weight: 200px;
}
