.Module {
  height: 40px;
  width: 100px;
  background-color: grey;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 3px;
  text-align: center;
}

.Module h4 {
<<<<<<< HEAD
  font-size: 12px;
  font-weight: 200px;
=======
    font-size: 12px;
    font-weight: 200px;
>>>>>>> 2c6dbf9a96a5dc79f2c788808b6f5d4c02d7299c
}
