.Module {
  height: 40px;
  width: 100px;
  background-color: grey;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 3px;
  text-align: center;
}

.Module:hover {
  opacity: 0.8;
}

.Module h4 {
  font-size: 12px;
  font-weight: 200px;
}

.Drag {
  border: 4px solid black;
  opacity: 0.5;
}

.ElectiveModule {
  background-color: rgb(153, 185, 105);
}
